@import "reset";
@import "variables/global.scss";

body {
  font: var(--font-m);
  color: var(--primary-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../shared/assets/font/Roboto-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../../shared/assets/font/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
