.userInfo {
  width: 823px;
  display: flex;
}

.infoBlock {
  margin-left: 59px;
}

.fio {
  height: 80px;
  width: 509px;

  margin-bottom: 50px;
}

.workInfo {
  display: flex;
  padding-bottom: 12px;
}

.workTitle {
  width: 191px;
}


